
<div class="row customer-table">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Responsive Hover Table</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of arrayListing">
              <td>{{customer.first_name}}</td>
              <td>{{customer.last_name}}</td>
              <td>{{customer.email}}</td>
              <td>{{customer.mobile}}</td>
              <td><button  class="btn  btn-warning" 
                (click)="viewCustomer(customer._id)" style="margin: 3px;">View</button>
                <button class="btn  btn-primary" style="margin: 3px;" 
                (click)="editCustomer(customer._id)">Edit</button>
                <button  (click)="deleteCustomer(customer._id)"  
                class="btn  btn-danger" style="margin: 3px;">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>


