

<div class="card card-primary card-outline profile-view">
              <div class="card-body box-profile">
                <!-- <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src=""
                       alt="User profile picture">
                </div> -->

                <h3 class="profile-username text-center">{{cust_deatails.first_name}} {{cust_deatails.last_name}}</h3>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Email:</b> <b><span>{{cust_deatails.email}}</span></b>
                  </li>
                  <li class="list-group-item">
                    <b>Mobile:</b> <b><span>{{cust_deatails.mobile}}</span></b>
                  </li>
                  <li class="list-group-item">
                    <b>Age:</b> <b><span>{{age}}</span></b>
                  </li>
                  <li class="list-group-item">
                    <b>Gender:</b> <b><span>{{gender}}</span></b>
                  </li>
                  
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
