
  <div class="card card-warning customer-card">
              <div class="card-header">
                <h1 class="card-title"><b>Customer Details Add Form</b></h1>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
          <form [formGroup]="customerForm" (ngSubmit)="onCustomerFormSubmit(customerForm.value)"> 
             <input type="hidden" name="id" formControlName="id">  
                <div class="card-body">
                  <div class="form-group">
                    <label class="col-form-label" ><b>Are you 18 years or older?</b></label>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" formControlName="ageCheck" value="1">Yes<br>
                      <input class="form-check-input" type="radio" formControlName="ageCheck" value="2">No
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input type="text" class="form-control"  formControlName="first_name" placeholder="Enter First Name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Last Name</label>
                    <input type="text" class="form-control"  formControlName="last_name" placeholder="Enter Last Name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" 
                    id="exampleInputEmail1" formControlName="email" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Mobile</label>
                    <input type="number" class="form-control"  formControlName="mobile" placeholder="Mobile">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" accept="image/*" class="custom-file-input" formControlName="customer_file_name"   (change)= "onSelectedFile($event)">
                        <label class="custom-file-label" >Choose file</label>
                      </div>
                      <br>
                      <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                        <img [src]="imageURL" [alt]="customerForm.value.name" 
                        style="width:100px; height:100px " >
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label"><b>Gender</b></label>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" formControlName="gender"  value="1" >Male<br>
                      <input class="form-check-input" type="radio" formControlName="gender" value="2">Female
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>

            </form>
            </div>


